<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        
        <!--<add name="qecgift.Properties.Settings.qec_0ConnectionString2"
            connectionString="Data Source=TTADMINISTRATOR;Initial Catalog=qec_0;Persist Security Info=True;User ID=glsa;Password=glsa201508"
            providerName="System.Data.SqlClient" />
        <add name="qecgift.Properties.Settings.qec_1ConnectionString1"
            connectionString="Data Source=TTADMINISTRATOR;Initial Catalog=qec_1;Persist Security Info=True;User ID=glsa;Password=glsa201508"
            providerName="System.Data.SqlClient" />-->
      <add name="qecgift.Properties.Settings.qec_0ConnectionString2"
           connectionString="Data Source=TTADMINISTRATOR;Initial Catalog=qec_0;Persist Security Info=True;User ID=sa;Password=sa"
           providerName="System.Data.SqlClient" />
      <add name="qecgift.Properties.Settings.qec_1ConnectionString1"
          connectionString="Data Source=TTADMINISTRATOR;Initial Catalog=qec_1;Persist Security Info=True;User ID=sa;Password=sa"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>